# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_Store
graph/generated/
graph/model/models_gen.go
air_errors.log
server
# .env
server.exe

package-lock.json
pnpm-lock.yaml
/node_modules

.git

/docker
/dist
.turbo
